.contenedor {
  display: block !important;
}

.fidelizacion-container {
  display: grid;
  gap: 16px;
}

.fidelizacion-info {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-bottom: 16px;
}

.info-card {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(239, 231, 210, 0.2);
  border-radius: 6px;
  color: #EFE7D2;
  padding: 16px;
  max-width: 600px;
  width: 460px;
}

.info-card h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #fff9eb;
}

.info-card p {
  color: #EFE7D2;
  font-size: 14px;
}

.acciones {
  margin-top: 12px;
}

.btn-primario {
  background-color: #303030;
  color: #EFE7D2;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
}

.btn-primario:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#msgFidelizacion {
  margin-top: 8px;
}

.dato {
  color: #A4A4A4;
  font-size: 14px;
  font-weight: 500;
}

.nota {
  color: #666;
  font-size: 13px;
}