html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #0A0B0A;
}

@font-face {
    font-family: 'Nesatho';
    src: url('nesatho-webfont.woff') format('woff'),
        url('nesatho-webfont.woff2') format('woff2');
}

h1 {
    margin: 0vw;
    margin-top: 4vw;
    font-family: 'Nesatho', sans-serif;
    font-weight: 100;
    color: #EFE7D2;
    z-index: 1;
    font-size: 8vw;
}

h2 {
    margin: 0;
    font-family: 'Nesatho', sans-serif;
    font-weight: 200;
    color: rgba(188, 182, 167, 0.7);
    z-index: 1;
    font-size: 2.5vw;
}

.icons {
    top: 1vw;
    right: 1vw;
    z-index: 1;
    display: flex;
    margin-top: 2vw;
    gap: 6vw;
}

.icons svg {
    width: 3vw;
    height: 3vw;
    fill: #EFE7D2;
}

.maincontent {
    grid-column: span 5 / span 5;
    grid-row: span 8 / span 8;
    background-color: #1B1B1B;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border: 0.1vw solid rgba(239, 231, 210, 0.1);
}

.maincontent::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1vw;
    background: linear-gradient(to top, #000000f1 0%, transparent 30%);
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}

.texture-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('texture.webp');
    background-size: cover;
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

.smoke-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('smoke.webp');
    background-size: cover;
    pointer-events: none;
    opacity: 0.8;
    z-index: 1;
}

header {
    position: absolute;
    top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3vw;
    padding-right: 1vw;
    background-color: #0A0B0A;
    width: fit-content;
    border-radius: 1vw;
}

header svg {
    width: 3vw;
    height: 3vw;
    fill: #EFE7D2;
}

.btn-header {
    font-family: 'Nesatho', sans-serif;
    color: #EFE7D2;
    z-index: 1;
    font-size: 1.5vw;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1vw;
    height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
}


.menu-card {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    border-radius: 1vw;
    border: 0.1vw solid rgba(239, 231, 210, 0.1);
}

.menu-card img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    object-fit: cover;
}

.menu-text {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: #0A0B0A;
    padding-top: 0.1vw;
    padding-left: 1vw;
    border-top-left-radius: 2vw;
    right: 0;
    bottom: 67%;
    text-align: right;
    font-family: 'Nesatho', sans-serif;
    color: #EFE7D2;
    z-index: 1;
    font-size: 1.5vw;
}

.menu-text a {
    color: #EFE7D2;
    text-decoration: none;
}
.menu-text a:visited {
    color: #EFE7D2;
}
.menu-text a:hover, .menu-text a:active {
    color: #BCB6A7;
}

.menu-text svg {
    transform: translateY(23%);
    width: 5vw;
    height: 5vw;
}

.card-2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 4;
    background-color: #5070ff;
    border-radius: 1vw;
}

.card-3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 7;
    background-color: #5070ff;
    border-radius: 1vw;
}

footer {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 9;
    border-radius: 1vw;
    border: 0.1vw solid rgba(239, 231, 210, 0.1);
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #EFE7D2;
    font-size: 1vw;
}

footer a {
    color: #EFE7D2;
    font-family: 'Poppins', sans-serif;
}

footer a:visited {
    color: #EFE7D2;
    font-family: 'Poppins', sans-serif;
}

footer a:hover,footer a:active {
    color: #BCB6A7;
    font-family: 'Poppins', sans-serif;
}